---
verifyConditions: ['@semantic-release/github']
prepare: []
publish: ['@semantic-release/github']
success: ['@semantic-release/github']
fail: ['@semantic-release/github']
branches:
  - main
  - name: alpha
    prerelease: true
  - name: beta
    prerelease: true
