---
#verifyConditions: ['@semantic-release/github']
#prepare: []
#publish: ['@semantic-release/github']
#success: ['@semantic-release/github']
#fail: ['@semantic-release/github']
plugins:
- "@semantic-release/commit-analyzer"
- "@semantic-release/release-notes-generator"
- "@semantic-release/changelog"
- "@semantic-release/github"
- "@semantic-release/git"
- - "@semantic-release/exec"
  - generateNotesCmd: |
      echo "${nextRelease.notes}" > /tmp/release-notes.md
    verifyReleaseCmd: |
      echo "${nextRelease.version}" > /tmp/next-release-version.txt

branch: main
branches:
- '+([0-9])?(.{+([0-9]),x}).x'
- 'main'
- 'next'
- 'next-major'
- {name: 'beta', prerelease: true}
- {name: 'alpha', prerelease: true}

analyzeCommits:
  - path: "@semantic-release/commit-analyzer"
    releaseRules:
    - type: "build"
      scope: "deps"
      release: "patch"

generateNotes:
  - path: "@semantic-release/release-notes-generator"
    preset: "conventionalcommits"
    presetConfig:
      types:
        - { type: 'feat', section: ':tada: Features' }
        - { type: 'feature', section: ':tada: Features' }
        - { type: 'fix', section: ':bug: Bug Fixes' }
        - { type: 'perf', section: ':zap: Performance Improvements' }
        - { type: 'revert', section: ':rewind: Reverts' }
        - { type: 'docs', section: ':memo: Documentation', hidden: false }
        - { type: 'style', section: 'Styles', hidden: true }
        - { type: 'chore', section: 'Miscellaneous Chores', hidden: true }
        - { type: 'refactor', section: 'Code Refactoring', hidden: true }
        - { type: 'test', section: ':test_tube: Tests', hidden: true }
        - { type: 'build', scope: 'deps', section: ':arrow_up: Dependencies' }
        - { type: 'build', section: ':construction_worker: Build System' }
        - { type: 'ci', section: 'Continuous Integration', hidden: true }
