apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name:  {{ template "k8s-image-swapper.fullname" . }}
  labels:
    {{- include "k8s-image-swapper.labels" . | nindent 4 }}
webhooks:
  - name: k8s-image-swapper.github.io
    failurePolicy: {{ .Values.webhook.failurePolicy }}
    rules:
      - apiGroups:
          - "*"
        apiVersions:
          - "*"
        resources:
          - deployments
          - daemonsets
          - cronjobs
          - jobs
          - statefulsets
          - pods
        operations:
          - CREATE
          - UPDATE
    clientConfig:
      {{- if not .Values.devMode.enabled }}
      service:
        namespace: {{ .Release.Namespace }}
        name: {{ template "k8s-image-swapper.fullname" $ }}
        path: /webhook
      {{- else }}
      url: {{ .Values.devMode.url }}
      caBundle: ""
      {{- end }}
    admissionReviewVersions: ["v1beta1"]
    sideEffects: None
